@import "tailwindcss";

@theme {
  --color-pri-col: #2563ea;
  --color-blue-shade: #235ee6;
  --color-sec-col: #111828;
  --color-white-col: #f6f6f6;
  --color-white-shade: #f9fafc;
  --color-dark-col: #1e293b;
  --color-acc-col: #eff3fc;
  --font-poppins: "Poppins", sans-serif;
}

.nav-link{
  @apply capitalize font-medium hover:text-pri-col
}

.nav-link-mobile{
  @apply capitalize font-medium text-white-col
}

.top-margin{
  @apply mt-20
}

.container{
  width: 95%;
  margin-inline: auto;
}

@media (min-width: 768px){
  .container{
    width: 92%;
  }
}

@media (min-width: 1000px){
  .container{
    width: 85%;
  }
}

@media (min-width: 1500px){
  .container{
    width: 80%;
  }
}

@media (min-width: 1800px){
  .container{
    width: 70%;
  }
}